*.class
*target*
*.jar
*.war
*.ear
*.class
client-service/**/src/main/java/com/nortal/jroad/client/**/types/**
client-service/**/src/main/java/com/nortal/jroad/client/**/database/**

# eclipse specific git ignore
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*.versionsBackup

# IDEA
.idea/
*.iml
