<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="true">

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d{dd.MM.yyyy hh:mm:ss} %-5p - %c{1} - %m%n" />
    </layout>
  </appender>

  <category name="com.nortal.jroad">
    <priority value="DEBUG" />
    <appender-ref ref="CONSOLE" />
  </category>

  <category name="org.apache">
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
  </category>

  <category name="java">
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
  </category>

  <category name="org.springframework">
    <priority value="INFO" />
    <appender-ref ref="CONSOLE" />
  </category>

</log4j:configuration>
